<nav class="navbar navbar-expand-lg d-flex  bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
           [routerLink]="['/']"
          [routerLinkActive]="'bg-success'"
          [routerLinkActiveOptions]="{ exact: true }">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
           [routerLink]="['/items']"
          [routerLinkActive]="'bg-success'"
          [routerLinkActiveOptions]="{ exact: true }">show items</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
